@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  background-color: black;
}
.bg-white{
  background-color: black;
}

.bg-gray{
  background-color: rgb(100, 100, 100);
}

.text-xs {
  color: yellow;
}

.text-2xl {
  color: yellow;
}

.text{
  color: yellow;
}
